@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Teko:300,400,500");
.popup {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	background-color:rgba(0, 0, 0, 0.4);
}
.nav-popup {
	background: #000000;
	height: auto;
	border: 4px;
	padding:10px;
	border-bottom: 1px solid #fff;
	border-radius:7px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.nav-popup-title {
	color: #fff;
	font-size: 25px;
	font-family: Teko;
	text-align: center;
	text-transform: uppercase;
}
.popup-box {
    background: #000000;
	width: 375px;
	height: auto;
	position: relative;
	margin: 50px auto;
	margin-top: 15%;
	text-align: center;
	font-family:'Teko';
	color:#000;
	border: 1px solid #fff;
	border-radius:7px;
}
.btn-login {
    width: 93%;
    height: auto;
    padding: 8px;
    margin-bottom: 3px;
    color: #000;
    font-family: 'Teko';
    border: none;
    border-radius: 5px;
    outline: none;
    display: inline-block;
}
.facebook {
    background: #3b5998;
    color: #fff;
}
.google {
    background: #1da462;
    color: #fff;
}
.icon-login {
    margin-top: 2px;
    float: left;
}
.btn-anjir {
    background: #000000;
    width: 30%;
    height: auto;
    padding: 8px;
    margin-bottom: 15px;
    color: #fff;
    font-family: 'Teko';
    border: 1px solid #fff;
    border-radius: 7px;
    outline: none;
    display: inline-block;
    cursor: pointer;
}